/*AK Style*/
.for-style-3 {
       border-radius: 9px 12px 0px 0px!important;
       margin-bottom: 40px;
}

#spl_1528116266.price_wrapper .name-price-desc .desc.a-tag {
    line-height: 22px;
}
div.masonary-section ul {
    margin-left: -62px!important;
}
@media only screen and (min-width: 1024px){
.masonry {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
}
.categor-sec-first, .service-price-length-rows-wrapper{
    height: auto!important;
}
}
@media screen and (min-width: 601px) and (max-width: 768px){
.masonry {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}
.price_wrapper .for-style-3 {
    max-width: 100% !important;
    margin-right: 1% !important;
    display: inline-block;
    width: 100%;
}
}

@media screen and (min-width: 769px) and (max-width: 1023px){
  .masonry {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}
}
@media screen and (max-width: 600px){
.masonry {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
}
#panel {
    padding: 0px!important;
}
div#panel .masonary-section ul li{
    transform: scale(1);
}
div#panel div.masonary-section ul {
    margin-left: 0px!important;
}
div#panel ul li {
    left: 0px!important;
    min-width: 100%;
}
}
.masonry {
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -moz-column-gap: 30px;
    -webkit-column-gap: 30px;
    column-gap: 30px;
    -moz-column-fill: initial;
    -webkit-column-fill: initial;
    column-fill: initial;
}
.price_wrapper .desc_price_list {
    text-align: center;
    color: #999;
}
.price_wrapper .service-price-length .lbl {
  text-align: left; }

.price_wrapper .name-price-desc {
  padding-top: 10px; 
  padding-right: 30px; 
}
 .price_wrapper .name-price-desc .a-tag {
    text-decoration: none !important;
    margin: 0px; }
 .price_wrapper .name-price-desc .name-price {
    /*font-weight: bold;*/
    font-size: initial;
    /*text-transform: uppercase;*/ }
  .price_wrapper .name-price-desc .name.a-tag {
    color: #666;
	text-align: left;
	}
  /*.price_wrapper .name-price-desc .name-price, .price_wrapper .name-price-desc .desc {
    cursor: pointer; }*/
    
  .price_wrapper .name-price-desc .name-price{
    margin-top: 0px;
    margin-bottom: 0px;
    /*cursor: pointer;*/ }
	
  .price_wrapper .name-price-desc .desc {
    color: #999;
	text-align: left;}
  .price_wrapper .name-price-desc .liner {
    padding-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    border-bottom: 1px solid #dcdcdc; 
  }

.price_wrapper .nav-tabs-div .tabs-nav-row {
  text-align: center; }
  .price_wrapper .nav-tabs-div .tabs-nav-row .nav-tabs {
    display: inline-block;
    border-bottom: medium none;
    font-size: 90%;
    font-weight: bold; 
    margin-left: 0px !important;
    margin-bottom: 10px !important;
  }
    .price_wrapper .nav-tabs-div .tabs-nav-row .nav-tabs li span {
      margin: 5px 20px;
      cursor: pointer;
      text-transform: uppercase;
      padding-bottom: 5px;
      display: inline-block;
      border-bottom: 1px solid #fff; }

.price_wrapper .nav-tabs-div .nav-tabs > li.active > a, .price_wrapper .nav-tabs-div .nav-tabs > li.active > a:focus, .price_wrapper .nav-tabs-div .nav-tabs > li.active > a:hover {
  background-color: #fff;
  border: 1px solid #fff !important; }

.price_wrapper .head-title h2 {
  margin-bottom: 30px !important;
  text-align: center;
  /*text-transform: uppercase;*/ }

.price_wrapper .tabs-nav-row .nav-tabs li.active span, .price_wrapper .tabs-nav-row .nav-tabs li span:hover {
  color: #337ab7;
  /*border-bottom: 1px solid #337ab7;*/ }

.price_wrapper .name-price-desc .spl-price.a-tag {
  color: #f80; 
  text-align: right;
}

.price_wrapper .name-price-desc .spl-price.a-tag:hover, .price_wrapper .name-price-desc .spl-price.a-tag:focus, .price_wrapper .name-price-desc .name.a-tag:hover, .price_wrapper .name-price-desc .name.a-tag:focus {
  color: #337ab7; }


/*------------------------AK STYLE-------------------------------*/
.price_wrapper .tabs_spl {
    float: left;
    width: 100%;
}
.price_wrapper ul.tab-links_spl {
    text-align: right;
	margin-bottom: 30px;
}
.price_wrapper ul.tab-links_spl li {
    display: inline-block;
    list-style: none;
    padding: 2px 15px !important;
	position: relative;
}
.price_wrapper ul.tab-links_spl li a {
    border-bottom: 1px solid transparent !important;
	-webkit-box-shadow: none !important;
    box-shadow: none !important;
	text-decoration: none;
}
.price_wrapper ul.tab-links_spl li.active a {
    /*border-bottom: 1px solid #000 !important;*/
	color: #b41d8d;
}
.price_wrapper .tabs_spl .tab-links_spl li a:focus{
	text-decoration: none !important;
}
.price_wrapper .row {
     margin-right: 0 !important; 
     margin-left: 0 !important; 
}
/*.price_wrapper .tabs_spl ul.tab-links_spl .active:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: "\F105";
    position: absolute;
    left: 0;
}*/
.price_wrapper .head-title span {
    margin-bottom: 30px !important;
    text-align: center;
    font-size: 1.625rem;
    font-weight: 300;
    clear: both;
    line-height: 1.4;
    margin: 0 0 0.75em;
    padding: 1.5em 0 0;
    display: block;
}
.style-five-head .head-title span {
    text-align: left!important;
    padding-top: 5px;
}
.tabs_spl li {
	float:none !important;
}
.price_wrapper .name-price-desc .desc.a-tag {
	font-size:initial;
}
.price_wrapper .name-price-desc:nth-child(odd) {
    clear: both; 
}
.price_wrapper h3.head-title {
    margin: 25px 0px;
}
/*AK Style*/
 .price_wrapper .desc_price_list{
	position: relative;
    top: -15px;
 }
 .price_wrapper .for-style-3 h3.head_title_style_3 {
    /*background-color: #5e7ce0;*/
    margin-top: 0px !important;
    text-align: center;
    padding: 8px;
    border-radius: 8px 11px 0px 0px;
}
.for-style-3 {
    max-width: 350px;
    margin-bottom: 40px;
    border-radius: 9px 12px 0px 0px;
}
.internal-box {
    padding: 0px 10px;
	margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
.price_wrapper ul.tab-links_spl{
    padding:0px !important;
    width:100% !important
}
.price_wrapper ul.tab-links_spl li a{
    padding: 5px 5px !important;
    display: inline-block;
    font-size: 15px !important;
}
.price_wrapper ul.tab-links_spl li:before{
    top: 6px;
}

}
@media only screen and (max-width: 700px) {
.price_wrapper .for-style-3{
    margin: 0 auto !important;
    float: initial !important;
    clear:both !important;
    max-width:100% !important;
    width: 100% !important;
    float:left !important;
}
}
.price_wrapper .for-style-3:nth-child(odd) {
     clear: none !important; 
}
@media screen and (max-width: 1300px) and (min-width: 700px) {

.price_wrapper .for-style-3:nth-child(odd) {
     /*clear: both !important;*/ 
}
.price_wrapper .for-style-3{
     max-width: 100% !important;
     margin-right: 1% !important;
}
}
@media(min-width: 320px) and (max-width: 500px)
{

#tiles li {
    margin: 0 auto !important;
}
ul#tiles {
    padding-left: 0px !important;
}
.custom_radio_btn {
    min-width: 65px !important;
    }
}   
.without_tab h3.head-title.tab-links_spl {
    padding-top: 15px;
}
/*********Style 4*****/
.style-4-half {
    float: left;
	padding-left:15px;
	padding-right:15px;
}
.style-4-main-section{ max-width:1170px; margin:0 auto;}

.style-4-productName::after { 
    content: "";
}
.style-4-productName::after {
    /* content: "";
    height: 2px;
    width: 100%;
    background: #000;
    position: absolute;
    left: 0px;
    right: 0px;
	top:10px;
	z-index: 8; */
}
span.style-4-productName {
    position: relative;
   /* width: 15%; */
        float: left;
    max-width: 40%;
}
span.style-4-productName span {
    background: #fff;
    z-index: 10;
    position: relative; padding-right:10px;
}
span.style-4-productPrice {
    display: block;
   /* width: 10%; */
    float: right;
    text-align: center;
    max-width: 40%;
}
.style-4-main-section h1 {
    text-align: center;
}
.content-section + span {
    color: #a7a7a7;
    display: block;
}
.price_wrapper .for-style-4:nth-child(odd) {
    clear: inherit;
}
.style-4-half {
    float: left;
    padding-left: 15px;
    padding-right: 15px !important;
}
.content-section.name-price:after {
    content: "";
    display: block;
    clear: both;
}
span.style-4-productName a,.name.a-tag {
    /*background: #fff;*/
    z-index: 19;
    display: block;
    position: relative;
    float: left;
    border-bottom: 0px;
    padding-right: 11px;
}
.for-style-4 .desc.a-tag {
    margin-top: 10px;
}
.for-style-3 {
    padding-top: 0px !important;
    border: 1px solid #ccc;
    padding-right: 0px !important;
}
/*.for-style-4 .style-4-productName .a-tag {
    background-color: #fff;
}
body.wp-admin .for-style-4 .a-tag {
    background-color: whitesmoke !important;
} */
.style-4-width {
    /*width: 40%;*/
    display: block;
    float: left;
}
.style-4-border {
    height: 10px;
    display: block;
    float: left;
    position: absolute;
    height: 1px;
    background: #000;
    min-width: 20%;
    margin-top: 10px;
}
.custom-style-4 ul, .custom-style-4 ol, .custom-style-4 dl {
    line-height: 1 !important;
}
span.style-4-productName a {
    box-shadow: none !important;
}
.for-style-4 .name.a-tag {
    width: 100%;
}
.price_wrapper .for-style-4 .name-price-desc {
    width: 100%;
}
.for-style-4 .spl-price.a-tag {
    padding-left: 16px;
    overflow: hidden;
}
.custom-style-4 ul#tiles li {
    line-height: inherit !important;
    width: 48% !important;
    min-width: 300px;
	list-style-type: none;
}
.name-price-desc.for-style-4.style-4-half {
    width: 100%;
}

/*
Only Hide Grid On desktop 
*/
@media(min-width:1030px) and (max-width:1920px)
{
	
.custom-style-4 ul#tiles li {
    position: static !important;
    display: inline-block !important;
    vertical-align: top;
}
	
}
.without_tab .desc {
    padding-top: 5px;
}
.style4_cat_desc {
    padding-bottom: 10px;
    padding-left: 6px;
}
.style3_cat_desc {
    padding-left: 26px;
    padding-bottom: 10px;
}
.custom_line, .style4_break_price {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.custom_line .name.a-tag {
    width: 39%;
}
.break_service{
    width: 55%;
}
.brack_title_desktop .desc.a-tag {
    padding-top: 7px;
}
ul#tiles {
    /*height: inherit !important;*/
}
/*
NEW CSS FOR BORDER 
*/
.content-section.name-price:before {
  /*  content: "";
    position: absolute;
    height: 1px;
    background: #f00;
    min-width: 20%;
    width: 100%;
    left: 0px;
    right: 0px; */
}
span.style-4-border {
    display: none;
}
span.style-4-productPrice.style-4-width {
    display: table;
}
span.style-4-productPrice .spl-price.a-tag {
    display: table-cell;
    vertical-align: middle;
}
.content-section.name-price {
    position: relative;
}
.masonary-section ul li:before {
    display: none;
}
/* 25/08/2018*/
	 label .wrapper-style1[for="check"] {
    display: inline-block; 
    color: #000;
    cursor: pointer;
    position: relative;
	 }
 span .wrapper-style {
      display: inline-block;
      position: relative;
      background-color: transparent;
      width: 25px;
      height: 25px;
      transform-origin: center;
      border: 2px solid #fff;
      border-radius: 50%;
      vertical-align: -6px;
      margin-right: 10px;
      transition: background-color 150ms 200ms, transform 350ms cubic-bezier(.78,-1.22,.17,1.89); 
       }
       
    label .wrapper-style1 span .wrapper-style:before {
      content: "";
      width: 0px;
      height: 2px;
      border-radius: 2px;
      background: #fff;
      position: absolute;
      transform: rotate(45deg);
      top: 13px; 
      left: 9px; 
      transition: width 50ms ease 50ms;
      transform-origin: 0% 0%;
    }
  
    label .wrapper-style1 span .wrapper-style:after {
      content: "";
      width: 0;
      height: 2px;
      border-radius: 2px; 
      background: #fff;
      position: absolute;
      transform: rotate(305deg);
      top: 16px; 
      left: 10px; 
      transition: width 50ms ease;
      transform-origin: 0% 0%;
    }
   input:hover span .wrapper-style:before  {
      
        width: 5px;
        transition: width 100ms ease;
   }
     span .wrapper-style :after {
        width: 10px;
        transition: width 150ms ease 100ms;
      }

/* 25/08/2018*/
.custom_radio_btn {
    display: table-cell; 
    width: 100%;
    height: 100%;
    vertical-align: middle; 
    text-align: center; 
  }


label.radio-inline  {
    display: inline-block; 
    color: #fff;
    cursor: pointer;
    position: absolute!important;
    left: 0;
    padding-left: 0px!important;
 }
  
     label.radio-inline span {
      display: inline-block;
      position: relative;
      background-color: transparent;
      width: 25px;
      height: 25px;
      transform-origin: center;
      border: 2px solid #fff;
      border-radius: 50%;
      vertical-align: -6px;
      margin-right: 10px;
      transition: background-color 150ms 200ms, transform 350ms cubic-bezier(.78,-1.22,.17,1.89);
      border: 1px solid #000;
      border-radius: 100%;
  }
  
  label.radio-inline span:before {
      content: "";
      width: 0px;
      height: 2px;
      border-radius: 2px;
      background: #fff;
      position: absolute;
      transform: rotate(45deg);
      top: 10px;
      left: 5px; 
      transition: width 50ms ease 50ms;
      transform-origin: 0% 0%;
    }
  
    label.radio-inline span:after {
      content: "";
      width: 0;
      height: 2px;
      border-radius: 2px; 
      background: #fff;
      position: absolute;
      transform: rotate(305deg);
      top: 15px;
      left: 8px;
      transition: width 50ms ease;
      transform-origin: 0% 0%;
    }
    .custom_radio_btn:hover span:before{
        content: "";
        display: block;
        width: 5px; 
        transition: width 100ms ease;
      }
      
  .custom_radio_btn:hover span:after {
        content: "";
        display: block;
        width: 10px;
        transition: width 150ms ease 100ms;
      }


input[type="radio"] 
{
    z-index: 9999;
    position: relative;
    opacity: 0;
    float: left;
    width: 25px;
    height: 21px;
    top: -3px;
  }
input[type="radio"]:checked + label.radio-inline span {
    background-color: #af2687;
    transform: scale(1.25);
}
        
input[type="radio"]:checked + label.radio-inline span:before {
    width: 7px;
    background: #fff;
    transition: width 150ms ease 100ms;
}
        
input[type="radio"]:checked + label.radio-inline span:after {
    width: 10px;
    background: #fff;
    transition: width 150ms ease 100ms;
}

label.radio-inline span:hover {
          background-color: #fff;
          transform: scale(1.25); 
       }
.radio-inline:hover span:before {
    content: "";
    display: block;
    width: 7px;
    transition: width 100ms ease;
  }
label.radio-inline:hover span:after {
    width: 10px;
    transition: width 150ms ease 100ms;
}

.custom_radio_btn {
    display: inline-block;
    width: auto;
    height: auto;
    position: relative;
    min-width: 78px;
}
.custom_radio_btn:hover label span {
    background-color: #af2687!important;
}  

/*  backent desiging css */
.category-name-row label,
    .add-category-row,.add-category-row:hover,.add-category-row:focus{
        color:#b41d8d;
        font-weight: bold;
    }

    .add-remove-service,.add-remove-service:hover,.add-remove-service:focus{
        /* color:#18d418; */
        font-weight: bold;
    }

    .service-price-length label{
        color:#666;
        margin:0px;
    }
  /*.category-name-row .lbl,
    .add-category-row-lbl,
    .service-price-length .lbl{
        text-align: right;
    }*/
    .service-price-length .lbl{
        line-height: 30px;
    }
    .remove-service{
        text-align: right;
    }

    .cats-row,.category-row,
    .service-price-length{
        margin: 15px 0;
    }

    .add-remove-service{
        margin: 20px 0;
    }

    .category-name-row, .category-description-row{
        padding-left: 15px;
        padding-right: 15px;
    }

    #wpcontent{
        background-color: #fff;
    }

    .spl-header.logo{
        position: relative;
        top: 0px !important;
    }
  .iris-picker.iris-border {
    z-index: 999;
  }
  .wp-picker-open {
    vertical-align: top;
  }
  #wpfooter{
      position: relative;
  }
  .wp-core-ui .button-primary {
    background: #b41d8d !important;
    border-color: #b5218f #b41d8d #be3b9c;
    -webkit-box-shadow: 0 1px 0 #b41d8d!important;
    /*box-shadow: 0 1px 0 #b41d8d;*/
    box-shadow:none!important;
    border-width: 0px;
    color: #fff;
	font-size: 18px;
    text-decoration: none;
    text-shadow: 0 0px 0px #df9ece, 0px 0 1px #b41d8d, 0 0px 0px #b41d8d, -1px 0 1px #b41d8d;
    }
    .wp-core-ui .button-primary:hover {
    background: #b41d8d;
    border-color: #b41d8d;
    color: #fff;
    }
    span.price-save p.submit input#submit_tabs {
    border-right: 14px solid #60c102;
    width: 100% !important;
    height: 60px;
	font-size: 18px!important;
}
  /* --AK Style -- */
  .containr .wp-picker-container {
    min-height: 36px !important;
  }
  input#submit_tabs:active, input#submit_tabs:focus {
    background: #b41d8d;
    border-color: #b5218f #b41d8d #be3b9c;
    -webkit-box-shadow: 0 1px 0 #b5218f, 0 0 2px 1px #b5218f;
    box-shadow: 0 1px 0 #b5218f, 0 0 2px 1px #770e0e;
  }
  .notice-done {
    background: #fff;
    border-left: 4px solid #27c500;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    margin: 0px;
    padding: 1px 12px;
  }
  .notice-eror {
    background: #fff;
    border-left: 4px solid #ff0018;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    margin: 0px;
    padding: 1px 12px;
  }
  .containr label {
        font-weight: normal !important;
    }
  .price_wrapper input[type="radio"]:focus {
        outline: none !important;
    }
  @media screen and (min-width: 992px){
    .padl-align {
      padding-left: 22px !important;
    }
    .containr .wp-color-result {
      /*margin-left: 18px;*/
      vertical-align: top;
    }
  }
  #preview {
    text-decoration: none;
    color: white;
    background-color: #b41d8d;
    padding: 6px 10px;
    border-radius: 3px;
    margin-top: 11px;
     }
    .anqur {
    margin-left: 57px;
    margin-top: -46px;
    float: left;
    width: 100%;
    }
  div#flip i {
    margin-left: 10px;
}

#panel, #flip {
    padding: 16px;
    text-align: left;
    background-color: #f5f5f5;
    border-color: #ddd;
    border-radius: 4px;
    font-size: 20px;
}
.flip_accordian, .flip_accordian_content{
   padding: 16px;
    text-align: left;
    background-color: #b51d8e;
    border-color: #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
}
.flip_accordian_content.vis {
    padding: 36px;
}
.flip_accordian_content{
     padding: 50px;
    display: none;
}
    #panel {
    padding: 50px;
    display: none;
    width:100%;
    float:left;
    }
  .price_wrapper .name-price-desc .desc {
    margin-top: 3px; /*this was affecting all styles and not good*/
     }
     
     input#fileupload {
    font-size: inherit;
}
.flip_accordian.mg {
    margin-top: 15px;
}
@media screen and (max-width: 812px){
   .col-sm-4.backup {
    margin-top: 3px;
}
}
  /*.flip_accordian_content:before {*/
  /*  content: "Choose File";*/
  /*  color: black;*/
  /*  background: white;*/
  /*  width: 24%;*/
    /* height: 50%; */
  /*  display: block;*/
  /*  border-radius: 5px;*/
  /*  text-align: center;*/
  /*  padding: 12px;*/
  /*  font-size: 13px;*/
  /*  position: absolute;*/
  /*  margin-left: -5px;*/
  /*}*/
  
  
/* .remove-category {*/
/*    margin-left: 85px;*/
/*    color: #b41d8d;*/
/*    font-weight: 700;*/
/*}*/
.remove-category:hover {
    color: #fff;
}
#all_tab {
    width: 50%;
}
span.all_tab_span {
    font-size: 10px;
}
.more_setting{
	display:none;
}
.more-stng-btn{
    background-color: #ffffff;
    padding: 10px 19px;
    color: #000;
    border: 1px solid #cccccc;
    border-radius: 5px;
	position:relative;
	width:100%;
	float:left;
}
.more-stng-btn i{
	padding-left:10px;
	float:right;
}
.more-stng-btn-rotate i{
	padding-right: 10px;
    padding-left: 0px;
	transform: rotate(180deg);
}
/*.category-description-row .lbl {*/
/*    text-align: right;*/
/*}*/
.category-description-row label {
    color: #b41d8d;
    font-weight: bold;
}
/*.price_wrapper form:last-child {
    position: absolute;
    bottom: 16px;
    left: 74px;
    right: 0px;
}*/
.price_wrapper {
    position: relative;
}
.price_wrapper input#fileupload {
    width: 198px;
    float: left;
}
.price_wrapper input#fileupload {
    float: left;
}
form.custom-backup-restore {
   /* position: absolute;
    bottom: 123px;
    left: 85px;*/
}
div#flip {
    margin-top: 17px;
}
div.flip_accordian{
    margin-top: 0 px;
}
form.custom-backup-restore {
    /*position: absolute;
    left: 85px;
    bottom: 20px;*/
}
.form-save-and-restore {
    position: relative;
}
.row.cats-row.more_setting {
    padding-top: 10px;
}
h4.title-font {
    font-size: 16px;
}
.notice.notice-erroe {
    border-left: 4px solid red;
}
@media screen and (max-width:320px){
    span.wp-color-result-text {
    padding-left: 4px !important;
    font-size: 12px !important;
}
#wpbody select {
    font-size: 13px !important;
}

.categor-sec-first {
    height:305px !important;
    border:2px solid #dedede !important;
}
.service-price-length-rows-wrapper{
    height:415px !important;
    border:2px solid #dedede !important;
}
.price_wrapper .service-price-length .lbl {
text-align: left;
padding: 0px 7px;
}
.google {
    height:auto !important;
}
}
@media screen and (min-width:321px) and (max-width:480px){
   div#panel .service-price-length-rows-wrapper{
    height: auto!important;
    border: 2px solid #dedede !important;
}
div#panel ul li {
    left: -35px!important;
}
.google {
    height:auto !important;
}
div#panel .categor-sec-first, .service-price-length-rows-wrapper{height: auto!important;}
}
@media(min-width:769px) and (max-width:800px){
    span.price-save p.submit input#submit_tabs {
    width: 100% !important;
    float: left;
}
}
@media(min-width:320px) and (max-width:480px){
    .bottom-save p.submit input#submit_tabs {
    width: 100%!important; 
}
}
@media(min-width:481px) and (max-width:600px){
    .bottom-save p.submit input#submit_tabs {
    width: 100%!important; 
}

}
@media(min-width:601px) and (max-width:768px){
    .bottom-save p.submit input#submit_tabs {
    width: 22%!important; 
}
}
@media(min-width:320px) and (max-width:768px){
.col-xs-3.col-sm-3.col-md-3.col-lg-3 {
    width: 100%;
}
span.price-save p.submit input#submit_tabs {
    width: 100% !important;
    float: left;
}

.style-five {
    width: 100%;
    float: left;
}

label.radio-inline {
    line-height: 34px;
}
label.radio-inline input {
    float: left;
    margin-right: 11px !important;
    right: 9px;
}
.checkbox label {
    padding-left: 33px !important;
}
.checkbox label input {
    float: left;
    margin-right: 10px !important;
    left: 18px;
}
.checkbox label {
    line-height: 31px;
}
.categor-sec-first, .service-price-length-rows-wrapper{
    width:100% !important;
}
}

/* 25/08/2018*/
	 label .wrapper-style1[for="check"] {
    display: inline-block; 
    color: #000;
    cursor: pointer;
    position: relative;
	 }
 span .wrapper-style {
      display: inline-block;
      position: relative;
      background-color: transparent;
      width: 25px;
      height: 25px;
      transform-origin: center;
      border: 2px solid #fff;
      border-radius: 50%;
      vertical-align: -6px;
      margin-right: 10px;
      transition: background-color 150ms 200ms, transform 350ms cubic-bezier(.78,-1.22,.17,1.89); 
       }
       
    label .wrapper-style1 span .wrapper-style:before {
      content: "";
      width: 0px;
      height: 2px;
      border-radius: 2px;
      background: #fff;
      position: absolute;
      transform: rotate(45deg);
      top: 13px; 
      left: 9px; 
      transition: width 50ms ease 50ms;
      transform-origin: 0% 0%;
    }
  
    label .wrapper-style1 span .wrapper-style:after {
      content: "";
      width: 0;
      height: 2px;
      border-radius: 2px; 
      background: #fff;
      position: absolute;
      transform: rotate(305deg);
      top: 16px; 
      left: 10px; 
      transition: width 50ms ease;
      transform-origin: 0% 0%;
    }
   input:hover span .wrapper-style:before  {
      
        width: 5px;
        transition: width 100ms ease;
   }
     span .wrapper-style :after {
        width: 10px;
        transition: width 150ms ease 100ms;
      }

/* 25/08/2018*/
.custom_radio_btn {
    display: table-cell; 
    width: 100%;
    height: 100%;
    vertical-align: middle; 
    text-align: center; 
  }


label.radio-inline  {
    display: inline-block; 
    color: #fff;
    cursor: pointer;
    position: absolute!important;
    left: 0;
    padding-left: 0px!important;
 }
  
     label.radio-inline span {
      display: inline-block;
      position: relative;
      background-color: transparent;
      width: 25px;
      height: 25px;
      transform-origin: center;
      border: 2px solid #fff;
      border-radius: 50%;
      vertical-align: -6px;
      margin-right: 10px;
      transition: background-color 150ms 200ms, transform 350ms cubic-bezier(.78,-1.22,.17,1.89);
      border: 1px solid #000;
      border-radius: 100%;
  }
  
  label.radio-inline span:before {
      content: "";
      width: 0px;
      height: 2px;
      border-radius: 2px;
      background: #fff;
      position: absolute;
      transform: rotate(45deg);
      top: 10px;
      left: 5px; 
      transition: width 50ms ease 50ms;
      transform-origin: 0% 0%;
    }
  
    label.radio-inline span:after {
      content: "";
      width: 0;
      height: 2px;
      border-radius: 2px; 
      background: #fff;
      position: absolute;
      transform: rotate(305deg);
      top: 15px;
      left: 8px;
      transition: width 50ms ease;
      transform-origin: 0% 0%;
    }
    .custom_radio_btn:hover span:before{
        content: "";
        display: block;
        width: 5px; 
        transition: width 100ms ease;
      }
      
  .custom_radio_btn:hover span:after {
        content: "";
        display: block;
        width: 10px;
        transition: width 150ms ease 100ms;
      }


input[type="radio"] 
{
    z-index: 9999;
    position: relative;
    opacity: 0;
    float: left;
    width: 25px;
    height: 21px;
    top: -3px;
  }
input[type="radio"]:checked + label.radio-inline span {
    background-color: #af2687;
    transform: scale(1.25);
}
        
input[type="radio"]:checked + label.radio-inline span:before {
    width: 7px;
    background: #fff;
    transition: width 150ms ease 100ms;
}
        
input[type="radio"]:checked + label.radio-inline span:after {   
    width: 10px;
    background: #fff;
    transition: width 150ms ease 100ms;
}

label.radio-inline span:hover {
          background-color: #fff;
          transform: scale(1.25); 
       }
.radio-inline:hover span:before {
    content: "";
    display: block;
    width: 7px;
    transition: width 100ms ease;
  }
label.radio-inline:hover span:after {
    width: 10px;
    transition: width 150ms ease 100ms;
}

.custom_radio_btn {
    display: inline-block;
    width: auto;
    height: auto;
    position: relative;
    min-width: 78px;
}
.custom_radio_btn:hover label span {
    background-color: #af2687!important;
}  
.price-save p{
    margin-top:0px;
    padding-top:0px;
}
.title-list-style {
    border: 1px solid #dedede;
    border-radius: 6px;
    margin-bottom: 30px;
    min-height: 270px;
}
.title-list-style .col-md-12 {
    border-bottom: 1px solid #dedede;
    margin-bottom: 15px;
}
.title-list-style .wp-picker-container .button span {
    height: 29px;
}

.title-list-style .wp-picker-container .button {
    width: 100%;
    height: 30px;
}
.google a {
    float: right;
    color: #fff;
    text-decoration: none;
}
.google {
    padding: 10px 15px;
    background-color: #e41010bd;
    color: #fff;
    font-size: 18px;
    height: 60px;
    line-height: 2;
    border-radius: 4px;
}
/*- 1-09-2018 -*/
.categor-sec-first, .service-price-length-rows-wrapper {
    width: 48%;
    float: left;
    border: 1px solid #dedede;
    height: 300px;
    padding: 0px 0px 13px;
}
 .categor-sec-first, .service-price-length-rows-wrapper {
    margin: 7px;
}
.categor-sec-first .lbl {
    padding: 0px;
}
.categor-sec-first .lbl, .categor-sec-first .ini{
    margin:15px 0px;
}
.heading-catag {
    height: 40px;
    line-height: 3;
    background-color: #b41d8d;
    padding: 0px 15px;
}
.heading-catag a {
    float: right;
    color: #fff;
    text-decoration: none;
    text-align: left;
    margin-left: 0px;
}
.heading-catag span {
    color: #fff;
}
.category-row {
    padding: 0px 15px;
}
.add-category-row-lbl {
    padding-left: 7px !important;
}
.add-new-cat {
    border: 1px solid #dedede;
    padding: 16px 15px;
}
.add-new-cat a {
    /*color: #18d418 !important;*/
}
.body-inner {
float: left !important;
width: 100%;
}
.remove-service, .add-service {
    text-align: center;
}
div#flip {
    background-color: #b51d8e;
    color: #fff;
}
li.middle {
    position: relative !important;
}
.flip_accordian span i {
    padding-left: 10px;
}

.panel_accordian button, .custom-backup-restore button {
    background-color: #fff !important;
    text-shadow: none !important;
    color:#000;
}
@media screen and (max-width: 414px){
    div#panel .masonary-section ul li {
    transform: scale(0.9);
    }
    div#panel div.masonary-section ul {
    margin-left: 0px!important;
    }
    div#panel div.masonary-section ul li{
    left: -35px!important;
    padding: 0;
    min-width: 100%;
    }
    .add-remove-service a {
    font-size: 12px!important;
    }
}
@media screen and (max-width: 320px){
    div#panel div.masonary-section ul {
    margin-left: -15px!important;
    }
}
@media screen and (min-width: 600px) and (max-width: 767px){
    div#panel div.masonary-section ul li{
    position: relative!important;
    top: 0px!important;
    }
}
@media screen and (min-width: 480px) and (max-width: 599px){
    div#panel ul li {
    left: 0px!important;
    position: relative!important;
    top: 0px!important;
    }
}
@media screen and (min-width: 1100px){
    .masonary-section {
    min-height: 488px;
    }
}
div#wpbody-content {
    background-color: #f5f5f5;
}
footer#admin_footer {
    display: block;
    width: 100%;
    float: left;
    clear: both;
}
/*button.button {*/
/*    width: 100%;*/
/*   padding: 14px 0px;*/
/*}*/
button.button.button-primary {
    /* padding: 23px 0px; */
    height: 60px;
     width: 100%;
}
/*select#select_lang {*/
/*    margin-left: 14px;*/
/*}*/
.save-head input{
     padding: 23px !important;
    width: 100%!important;
    font-size: 14px!important;
    line-height: 0!important;
    text-transform: uppercase!important;
}
.back-up {
    margin-top: 23px !important;
    max-width: 60%;
    margin: 0 auto;
}
ul.tab-links_spl li {
    margin: 10px 0px;
}
.res-prev-bkp {
    max-width: 900px;
}
.bottom-save p.submit input#submit_tabs {
    width: 21.8%;
    height: 60px;
    padding: 24px 0px;
    line-height: 0;
}
.font_setting_container {
display: none;
}
.footer-demo-section p {
    text-align: right;
}
a.spl-header img {
    width: 60%;
}

/* b-d-end */
/*- 13-09 -*/
.spl-style-5 .name {
color: #676767;
}
.spl-style-5 p {
color: #882cf1;
}
.spl-style-5 .spl-price p {  
    color: #fff;
    background-color: #882cf1;
    padding: 0px 10px;
    border-radius: 4px;
    min-width: 60px;
    text-align: center;
}
#preview_content .spl-style-5 .spl-price p{
    padding: 10px 0px;
} 
.spl-five-bottom {
width: 100%;
float: left;
border-bottom: 2px solid gainsboro;
}   
.style-five {
  width: 48%;
  float: left;
  padding: 0px 18px;
  margin-bottom: 20px;
}
.spl-style-5 .name, .spl-style-5 .desc {
    width: 100%;
    float: left;
}
.spl-style-5 .name{
    margin-bottom: 15px;
}
.style-five-head .style5_cat_tab {
    width: 66.66666667% ;
}
.style5_cat_tab ul.tab-links_spl li {
    background-color: #f1ef3d;
    margin: 5px -3px;
    /*width: 175px;*/
    padding: 8px 10px !important;
}
.style5_cat_tab ul.tab-links_spl li a {
    color: #fff !important;
}
.style-five-head {
    margin-top: 25px;
}
.spl-style-5 {
    width: 100%;
    padding: 10px;
    float: left;
}
.spl-five-bottom {
    border-bottom: 5px solid gainsboro;
}
.style-five {
    box-shadow: 0px 0px 5px gainsboro;
    margin-right: 10px;
}
.style-five-head .style-five:nth-child {
    margin-right: 18px !important;
}
.style-five-head .desc_price_list {
    font-size: 16px;
}
@media screen and (max-width:768px){
 .style-five-head .style5_cat_tab {
    width: 100% !important;
 }
 .spl-five-bottom .desc {
    margin-bottom: 10px;
}     
 .style-five-head .style5_cat_tab ul.tab-links_spl {
     margin-left: 0px;
 }
 .style-five {
    width: 100%;
    float: left;
 }
 md-10.col-sm-9, .spl-five-bottom .col-md-3 {
    width: 100%;
    float: left;
    text-align: center;
    margin: 10px 0px;
   }
}
@media screen and (min-width:769px) and (max-width:1179px){
    .style-five {
    width: 47% !important;
}
.spl-style-5 .spl-price p {
    padding: 0px 5px !important; 
    min-width: 50px !important;
     font-size: 15px !important;
}
.style-five-head .style5_cat_tab {
    width: 100% !important;
}
.spl-style-5 .spl-price p {
    min-width: 55px !important;
 }
 .style-five-head .col-md-4 {
    width: 100% !important;
}
}
@media screen and (min-width:1180px) and (max-width:1450px){
.spl-style-5 .spl-price p {
    min-width: 58px;
    text-align: center;
}
}
.advance_setting {
    text-transform: uppercase;
}
.left-side-style5 {
    border: 1px solid #ddd;
    width: 49%;
    float: left;
    padding: 13px;
    padding-bottom: 0;
}
.left-side-style5 .style-five {
    width: 100%;
    margin-bottom: 14px;
    box-shadow: none;
}
.right-side-style5 {
    border: 1px solid #ddd;
    width: 49%;
    float: right;
    padding: 13px;
    padding-bottom: 0;
}
.right-side-style5 .style-five {
    width: 100%;
    box-shadow: none;
    margin-bottom: 14px;
}
.left-side-style5 .a-tag, .right-side-style5 .a-tag {
    margin-bottom: 20px;
}
.hide-right {
    display: none;
}
.left-side-style5 .style-five .name, .right-side-style5 .style-five .name {
    margin-bottom: 0px!important;
}
#preview_content .left-side-style5 .style-five .spl-style-5 .spl-price p,#preview_content .right-side-style5 .style-five .spl-style-5 .spl-price p {
    padding: 3px 0px!important;
}
#preview_content .left-side-style5 .style-five .spl-price p, #preview_content .right-side-style5 .style-five .spl-price p {
    margin-top: 0;
}
.style-five .col-md-3 {
    padding-right: 0!important;
}
.style-five .col-md-9 {
    padding-left: 0!important;
}
@media screen and (max-width: 600px){
    .left-side-style5, .right-side-style5 {
    width: 100%;
    padding: 0px;
    margin-top: 20px;
    }
    .left-side-style5 .style-five, .right-side-style5 .style-five {
    margin-right: 0;
    padding: 0;
   }
   .price_wrapper ul.tab-links_spl {
    text-align: left;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .style-five-head .style5_cat_tab {
    width: auto !important;
    float: right!important;
    }
    .style-five-head .col-md-4 {
    width: auto!important;
    display: inline-block;
    }
    .left-side-style5 .style-five, .right-side-style5 .style-five {
    width: 100%!important;
   }
   .left-side-style5 .style-five .spl-price p, .right-side-style5 .style-five .spl-price p {
    margin-left: -15px;
   }
}
.padding-left-no{
    padding-left:0px !important;
}
.style5_cat_tab ul.tab-links_spl li:after {
    content: "";
    width: 2px;
    top: 4px;
    right: 0px;
    height: 85%;
    position: absolute;
    background-color: #a7a2a2;
    z-index:999;   
}  
.style5_cat_tab ul.tab-links_spl li:last-child:after
{
    display:none;
}
/*.style5_cat_tab ul.tab-links_spl li {
    border-right: 2px solid #cecece
}
.style5_cat_tab ul.tab-links_spl li:last-child {
    border: none;
}*/